body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

img {
  height: 60vh;
  max-width: 100%;
}

p {
  font-size: 1rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

#header-container {
  display: flex;
  justify-content: space-between;
  background: red;
}

.header-center {
  display: flex;
}

.first-title {
  color: red;
  text-align: center;
}

.container-image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#ghost {
  grid-column: 3;
  grid-row: 1;
}

#thl {
  grid-column: 1;
  grid-row: 1;
}

#unch {
  grid-column: 4;
  grid-row: 1;
}

#gow {
  grid-column: 4;
  grid-row: 2;
}

#finalfantasy {
  grid-column-end: span 4;
  grid-row: 3;
  text-align: center;
}

@media screen and (max-width: 600px) {
  body {
    background: red;
  }

  p {
    color: white;
  }

  .first-title {
    color: white;
    text-align: inherit;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p:hover,
  h1:hover,
  a:hover {
    background-color: orange;
  }
}
